body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    
}

.container{
    width: 80%;
    height: 100%;
    background: transparent;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 5px;
}
.logo {
    font-size: xx-large;
    padding: 30px 0 30px 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800000;
    border: 1px solid gainsboro;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

nav li a:hover {
    opacity:0.9;
    background-color: #3385ff;
}

article {
    width: 98.8%;
    height: 100%;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    clear: both;
}

article p {
    padding: 5px 6px 5px 5px;
    line-height: 1.5;  
}

article .konten {
    width: 23.5%;
    height: 350px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}

article .konten img {
    width: 95%;
    height: 150px;
    margin: 5px 5px 5px 5px;
}

article .konten .judul a {
    margin-left: 5px;
    text-decoration: none;
    font-size:large;
    color:#1a75ff;
}
  
  
p {
    color:white
}


.title {
    color:white
}


html {
    background: url("https://image.freepik.com/free-photo/black-marble-concrete-background_124337-132.jpg") no-repeat  fixed;
    background-size:100% 100%;
    }}

.putih {
    color:white
    }

.hero-banner {
    margin-left: 25vh;
    margin-top: 33vh;
}

.hero-banner h1 {
    font-size: 56px;
    color: white
}

.hero-banner p {
    color: white;
    margin-top: -25px;
}